* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.info-icon {
    width: 40px; 
}
.clue-container {
    position: relative;
    right: -45%;
    margin-top: 1em;
    margin-right: 1em;
}
.clue-container:after {
    content: attr(clue);
    transform: translate(-50%,0%);
    left:50%;
    top:115%;
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    word-wrap: break-word;
    padding: 1em;
    height: auto;
    margin: .3em;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.438);
    background-color: rgb(19, 21, 22);
}
.clue-container:before {
    content: "";
    display: block;
    border:10px solid #000;
    height: 10%;
    bottom:-35%;
    
    transform: translate(-25%,0%);
    left:25%;
    transform: rotate(90deg);
    border-color: transparent rgb(19, 21, 22) transparent transparent;
}
.clue-container:before,.clue-container:after {
    position: absolute;
    display: none
}
.flex {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background-color: rgb(37, 38, 41);
    color:white;
    width: 95vw;
    font-family: 'Orbitron', sans-serif;
  
}
.game-container {
  width: 98vw;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
}
.word {
    display: flex;
    margin-top: 10%;
    order: 0;
}
button {
    padding: 1em;
    border: 0;  
}

.keyboard-container {
    margin-top:7em;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

}
.keyboard-container button:nth-child(9) {
    
   /* margin-right: .6em;*/

    background-color: blueviolet; 

}
.keyboard-container button:nth-child(17) {
    
    
    background-color: blueviolet; 
   
}
.keyboard-container button:nth-child(18) {
    
  
    background-color: rgb(226, 43, 98); 

}
.keyboard-container button:nth-child(23) {
  
  
    background-color: blueviolet; 

}
.key-btn {
    width: 110px;
    padding: 1em;
    margin: 5px;
    height: 60px;
}
.word-placeholder {
    margin-left:2em;
    position: relative;
    text-align: center;

}
.word-placeholder:after {
    content: "";
    position: absolute;
    width: 1.5em;
    background-color: rgb(255, 255, 255);
    height: 5px;
    top:90%;
    left:-50%;
    z-index: 2;
    opacity: 1;
    border-radius: 1em;
}
.hangman {
   /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    position: absolute;
    margin-top: -3%;
  
    bottom: 80%;
    ;

}
.head-container {
   /* width: 100wv;
    display: flex;
    justify-content: center;
    margin-top: 0;*/
}
.head {
    margin-top: -58px;
    stroke-width:5;
    margin-bottom: 0;
    stroke-dasharray:471;
    stroke-dashoffset: 471;
    transform: rotate(-90deg);
    transform-origin: center;
    animation: 1s headAnimation ease-in forwards;
}
.string-container {
    
}
.body-container {
    height: 190px;
    top:43%;
    position: absolute;
   

}
.left-arm-container {
    transform: rotate(25deg);
    /*margin-top: -320px;*/
    stroke-width:5;
   top:50%;
    position: absolute;
}
.left-arm {
  /*  animation: leftArmAnimation 2s ;*/
}
.right-arm-container {
    transform: rotate(-25deg);
    top:50%;
    stroke-width:5;
    position: absolute;
   /* margin-top: -152px;*/

}
.left-leg-container {
    stroke-width: 5;
    transform: rotate(25deg);
    margin-top: -15%;
    top:100%;
    stroke-width:5;
    position: absolute;
}
.right-leg-container {
    stroke-width: 5;
    transform: rotate(-25deg);
    margin-top: -15%;
    top:100%;
    stroke-width:5;
    position: absolute;
}
.body {
    stroke-width:5;
    transform: rotate(360deg);
   animation: bodyAnimation 2s ease-in;
 
}
.open:before,.open:after {
    display: block;
}
/*MENU */
.menu-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.menu-container h1 {
    margin-bottom: 1.6em;
    font-size: 2.8rem;
    font-weight: 300;
}
.menu-option-btn{
    text-transform: uppercase;
    display: block;
    width: 100%;
    color:rgb(236, 236, 236);
    background-color: #029980;
    margin-bottom: 1.9em;
    padding: 1.2em 3em;
    font-size: 1.2rem;
    border-radius: 20%/60%;
    box-shadow: 0 5px 15px #00000075;
}
.menu-option-btn:hover {
    transform: scale(1.2);
}

@keyframes headAnimation {
    to {
       
        stroke-dashoffset: 0;
      }
}
@keyframes bodyAnimation {
    from {
       
        height: 0;
      
      }
      to {
        
        height: 120px;
      }
}
@keyframes leftArmAnimation {
    from {
        height: 0;
      }
      to {
        height: 90px;
      }
}


@media(min-width:600px) {
   /* .keyboard-container {
        width: 50%;
    }
    .key-btn {
        width: 10%;
    }
    .keyboard-container button:nth-child(10) {
        flex-basis: 10%;
        margin-left: 2em; 
        background-color: blue;
    
    }
    .keyboard-container button:nth-child(20) {
        flex-basis: 10%;
        margin-left: 1em;
       
    }
    .keyboard-container button:nth-child(19) {
        flex-basis: 10%;
        margin-right: 1em;
     
    
    }*/
}