* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hangman-img {
    width: 100px;
    height: 100px;
}
.info-icon {
    width: 40px; 
}
.clue-container,.points-container{
    position: absolute;
    
}
.top-container {
    display: flex;
    position: relative;
    width: 95vw;
    background-color: #029980;
    top:-15%;
}
.clue-container {
    right: 90%;
   
  
}
.points-container {
    z-index: -1;
    right: 5%;
  font-size: 1.2rem;
    text-align: center;

}
.points-container div {
    margin-bottom: 0.5em;
}
.clue-container:after {
    content: attr(clue);
    transform: translate(-50%,0%);
    left:50%;
    top:100%;
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    word-wrap: break-word;
    padding: 1em;
    height: auto;
    margin: .3em;
    color:rgb(240, 240, 240);
    box-shadow: 0px 5px 5px rgb(58, 58, 58);;
    background-color: rgb(58, 58, 58);;
}
.clue-container:before {
    content: "";
    display: block;
    border:10px solid rgb(58, 58, 58);;
    height: 10%;
    bottom:-20%;
    transform: translate(-25%,0%);
    left:25%;
    transform: rotate(90deg);
    border-color: transparent rgb(58, 58, 58) transparent transparent ;
}
.clue-container:before,.clue-container:after {
    position: absolute;
    display: none
}

body {
    background-color: #e5e5f7ea;
    background-image:  linear-gradient(#696b8d5d 1.3px, transparent 1.3px), linear-gradient(to right, #696b8d62 1.3px, #e6e6e9c5 1.3px);
    background-size: 46px 46px;;
   /* background-color: rgb(37, 38, 41);*/
    width: 100vw;
    height: 100vh;
    color:rgb(58, 58, 58);
    font-family: 'Short Stack', cursive, sans-serif;
  
}
.container ,.bottom-container {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.bottom-container {
  position: relative;
  bottom:-18%;
  gap:2em;

}
.game-container{
    width: 90vw;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}
.word {
    display: flex;
    margin-top: 10%;
    order: 0;
}
button {
    padding: 1em;
    border: 0; 
}
.keyboard-container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 0.5em;

}
.keyboard-container button:nth-child(9) {
    
   /* margin-right: .6em;*/

    background-color: blueviolet; 

}
.keyboard-container button:nth-child(17) {
    
    
    background-color: blueviolet; 
   
}
.keyboard-container button:nth-child(18) {

    background-color: rgb(226, 43, 98); 

}
.keyboard-container button:nth-child(23) {
    background-color: blueviolet; 
}
.key-btn {
    width: 110px;
    padding: 1em;
    margin: 5px;
    font-size: 1.5rem;
    height: 60px;
    color:rgb(58, 58, 58);
    background: transparent;
    font-family: 'Short Stack', cursive; 
}
.word-placeholder {
    margin-left:2em;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
   

}
.word-placeholder:after {
    content: "";
    position: absolute;
    width: 1.5em;
    background-color: rgb(58, 58, 58);
    height: 5px;
    top:83%;
    left:-50%;
   
    z-index: 2;
    opacity: 1;
    border-radius: 1em;
}
.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-content: start;
    
    width: 50vw;
    position: absolute;
    top:0%;
    gap:0;
   

}

.head-container { 
   
    z-index: 2;

  
   display: flex;
  justify-content: center;
margin-top: -50px;
   align-items: start;
  
}
.head {
    fill: #1b1b1b;
}
.head,.body,.left-arm,.right-arm,.left-leg,.right-leg {
    fill:rgb(58, 58, 58);
    stroke:rgb(58, 58, 58);
   

}

.head {
  
    z-index: 3;
   /* transform: rotate(-90deg);*/
    height: 100px;
    stroke-width:5;
    margin-bottom: 0;
    stroke-dasharray:471;
    stroke-dashoffset: 471;
   
    transform-origin: center;
    animation: .5s headAnimation ease-in forwards;
    animation-iteration-count: 1
}
  
.body-container {
    height: 100px;
    top:100px;
    position: absolute;
    display: flex;
    justify-content: center;

}
.left-arm-container {
    /*margin-top: -320px;*/
    stroke-width:5;
    display: flex;
    justify-content: center;
    transform: rotate(25deg);
    margin-top: -15px;
   
    
}
.left-arm {
   
    animation: armAnimation .5s ;
    animation-iteration-count: 1
   
    /* animation: armAnimation 2s ;*/
}
.right-arm-container {
    transform: scaleY(1);
    transform: rotate(-25deg);
    stroke-width:5;
    margin-top: -15px;

}
.right-arm {
    margin-top: -130px;
    margin-left: 50px;
    animation: armAnimation .5s ease-in forwards;
    animation-iteration-count: 1
    
}
.left-leg-container {
    stroke-width: 5;
    transform: rotate(15deg);
    stroke-width:5;
   
    margin-top: -110px;
    margin-left: 30px;
    
  
}
.left-leg {
    animation: armAnimation .5s forwards;
    
   
}
.right-leg-container {
    stroke-width: 5;
    transform: rotate(-15deg);
    margin-top: -155px;
    margin-left: -40px;
    stroke-width:5;
    
   
}
.right-leg {
    animation: armAnimation .5s ease-in forwards;
   
}
.body {
    stroke-width:5;
    transform: rotate(360deg);
    height: 80px;
    animation: bodyAnimation .5s  ;
    animation-iteration-count: 1
 
}
.open:before,.open:after {
    display: block;
}
/*MENU */

.menu{
    z-index: 400;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.menu-container h1 {
    margin-bottom: 1.6em;
    font-size: 3.5rem;
    font-weight: 300;
    color:black
}
.menu-option-btn{
    text-transform: uppercase;
    display: block;
    width: 100%;
    color:rgb(236, 236, 236);
    background-color: #029980;
    margin-bottom: 1.9em;
    padding: 1.2em 3em;
    font-size: 1.2rem;
    border-radius: 20%/60%;
    box-shadow: 0 5px 15px #0000003f;
}

.menu-option-btn:hover {
    transform: scale(1.2);
}
.popup-container {
    z-index: 2;
    width: 30%;
    height: 35%;
    text-align: center;
    position: absolute;
    left:50%;
    padding: 1.5em;
    gap: 1em;
    border: rgb(95, 95, 95) .3em solid;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,5%);
    background-color: #efeff3;
}
   
.popup {
   margin-bottom: 1em;
   font-size: 2.5rem;
   color:#029980;
   margin-top: 1em;
}
.popup-container button {

   margin-bottom: 1em;
    border: 0;
    margin: 0 auto;
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: block;
    padding: 1.3em;
    background-color: #1b1b1b;
    color: rgb(238, 238, 238);
}

@keyframes headAnimation {
    to {
       
        stroke-dashoffset: 0;
      }
}
@keyframes bodyAnimation {
    from {
       
        height: 0;
      
      }
      to {
        
        height: 80px;
      }
}
@keyframes armAnimation {
      from {
        transform: scaleY(0);
      }
      to {
       transform: scaleY(1);
      }
}

@keyframes addPoints {
    to {
        color: rgb(74, 235, 59);
    }
}
@media(min-width:600px) {
   /* .keyboard-container {
        width: 50%;
    }
    .key-btn {
        width: 10%;
    }
    .keyboard-container button:nth-child(10) {
        flex-basis: 10%;
        margin-left: 2em; 
        background-color: blue;
    
    }
    .keyboard-container button:nth-child(20) {
        flex-basis: 10%;
        margin-left: 1em;
       
    }
    .keyboard-container button:nth-child(19) {
        flex-basis: 10%;
        margin-right: 1em;
     
    
    }*/
}

.addPointsAnimation {
    animation: addPoints .5s ease-in;
}
.removeAnimation {
    animation-iteration-count: 1;
    
}